STORE_PROVIDER=
STORE_MODE=test
STORE_CHECKOUT_URL=
STORE_PRODUCT_ID=
STORE_PERSONAL_VARIANT_ID=
STORE_STUDIO_VARIANT_ID=
STORE_NFR_VARIANT_ID=
STORE_TRIAL_VARIANT_ID=
STORE_CHECKOUT_URL=

LEMONSQUEEZY_API_KEY=
LEMONSQUEEZY_STORE_ID=
LEMONSQUEEZY_WEBHOOK_SECRET=
LEMONSQUEEZY_VFXM_PRODUCT_ID=
LEMONSQUEEZY_VFXM_PERSONAL_VARIANT_ID=
LEMONSQUEEZY_VFXM_STUDIO_VARIANT_ID=
LEMONSQUEEZY_VFXM_NFR_VARIANT_ID=
LEMONSQUEEZY_VFXM_CREATOR_NFR_VARIANT_ID=
LEMONSQUEEZY_VFXM_TRIAL_VARIANT_ID=
LEMONSQUEEZY_VFXM_CHECKOUT_URL=
VFXM_LICENSE_HASH_SECRET=
VFXM_EMAIL_HASH_SECRET=
VFXM_TOKEN_PRIVATE_KEY=
VFXM_TOKEN_PUBLIC_KEY=
VFXM_DOWNLOAD_SIGNING_SECRET=
VFXM_R2_BUCKET_NAME=
VFXM_DOWNLOAD_URL_TTL_SECONDS=900
VFXM_DEFAULT_GRACE_DAYS=14
VFXM_TRIAL_DAYS=15
VFXM_RELEASE_CHANNEL=stable
VFXM_ENABLE_TRIAL=false
VFXM_SUPPORT_EMAIL=
VFXM_STORE_MODE=test
VFXM_ALLOWED_ORIGINS=https://virtuecreativesystems.com
VFXM_CHECKOUT_SUCCESS_URL=https://virtuecreativesystems.com/checkout/success/
VFXM_CHECKOUT_CANCEL_URL=https://virtuecreativesystems.com/checkout/cancel/
VFXM_LICENSE_API_BASE_URL=
VFXM_SITE_RELEASE_STATUS=store-setup
VFXM_PUBLIC_DOWNLOAD_URL=
VFXM_RELEASE_DOWNLOAD_URL=
VFXM_RELEASE_VERSION=
VFXM_RELEASE_PLATFORM=
VFXM_RELEASE_FILE_NAME=
VFXM_RELEASE_DATE=
VFXM_RELEASE_SHA256=
